

:root{
	--header-height: min(15vh,19vw);
	--primary-color-1: #79b;
	--primary-color-2: #9a4;
	--secondary-color-1: #b86;
}

body{
	height: 100%;
	width: 100%;
}

#page{
	font-size: min(2.4vh, 3vw);
	width: 100%;
	height: 100%;
	background-color: var(--primary-color-1);
}

header{
	font-size: min(2.4vh, 4vw);
	background-color: var(--primary-color-2);
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--header-height);
}

nav{
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

nav ul{
	width: min(100%,65vh);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.nav-button:hover{
	background-color: #c64;/*primary color 2 un poco mas oscuro/claro */
}
.nav-button{
	border-radius: 50px;
	width: 20%;
	height: 42%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logotipo{
	width: 20%;
	height: 100%;
}

.logotipo-figure{
	display: flex;
	justify-content: center;
	height: var(--header-height);
	align-items: center;
}

.logotipo-img{
	max-height: 80%;
	max-width: 80%;
}

@media (orientation: landscape){
	.portatil{
		display: none;
	}
	.pc{
		display: flex;
	}
}
@media (orientation: portrait){
	.portatil{
		display: flex;
	}
	.pc{
		display: none;
	}
}

main{
	margin-top: var(--header-height);
}