:root{
	--header-height: min(15vh,19vw);
	--primary-color-1: #fff;
	--primary-color-2: #b53;
}

body{
	height: 100%;
	width: 100%;
}

#page{
	font-size: min(2.4vh, 3vw);
	width: 100%;
	height: 100%;
	background-color: var(--primary-color-1);
}

header{
	background-color: var(--primary-color-2);
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--header-height);
}

nav{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
}

nav ul{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.nav-button:hover{
	background-color: #c64;/*primary color 2 un poco mas oscuro/claro */
}
.nav-button{
	border-radius: 50px;
	width: 20%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logotipo{
	width: 30%;
	height: 100%;
}

main{
	margin-top: var(--header-height);
}