

:root{
	--header-height: min(15vh,19vw);
	--primary-color-1: #000;
	--primary-color-2: #fff;
	--secundary-color-1: #f2884b;
	--secundary-color-2: #8b52fe;
}

body{
	height: 100%;
	width: 100%;
}

a{
	color: var(--primary-color-2);
}

#page{
	font-display: swap;
	font-size: min(2.6vh, 4.5vw);
	color: var(--primary-color-1);
	width: 100%;
	height: 100%;
	background-image: url("../visuales/fondo.webp");
}

h1,h2,h3,h4{
	display: inline;
	font-family: "codec";
	text-align: center;
}

h3{
	text-align: justify;
}

header{
	z-index: 1;
	color: var(--primary-color-2);
	font-family: "codec";
	font-size: min(2.4vh, 4vw);
	background-color: var(--primary-color-1);
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--header-height);
}

nav{
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

nav ul{
	width: min(100%,65vh);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.nav-button:hover{
	background-color: var(--secundary-color-1);
}
.nav-button{
	border-radius: 50px;
	width: 20%;
	height: 42%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logotipo{
	width: 20%;
	height: 100%;
}

.logotipo-figure{
	width: fit-content;
	display: flex;
	justify-content: center;
	height: var(--header-height);
	align-items: center;
}

.logotipo-img{
	width: 80%;
	max-height: 100%;
}

@media (orientation: landscape){
	.portatil{
		display: none;
	}
	.pc{
		display: flex;
	}
}
@media (orientation: portrait){
	.portatil{
		display: flex;
	}
	.pc{
		display: none;
	}
}

main{
	margin-top: var(--header-height);
}