@font-face{
	font-family: "codec";
	src: url("../fuentes/GothamBlack.otf");
}

@media (orientation: landscape){
	.parrafo-1{
		background-color: var(--secundary-color-2);
		font-size: min(4vh,3vw);
		display: grid;
		justify-items: center;
		width: 100%;
		height: 80vh;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 12vh 54vh;
		align-items: center;
		padding: 6vh 0 8vh;
	}

	.parrafo-1__texto{
		text-align: justify;
		padding: 0 2vw;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		grid-row: 2/3;
		grid-column: 1/2;
		height: 100%;
	}

	.parrafo-1__titulo{
		font-size: min(4.6vh, 2.6vw);
		text-align: justify;
		display: flex;
		align-items: center;
		grid-row: 1/2;
		grid-column: 1/3;
		height: 100%;
	}

	.parrafo-1__imagen-figure{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.parrafo-1__imagen-logo{
		width: 100%;
		object-fit: contain;
		max-height: 100%;
	}

	.parrafo-2__titulo h2{
		font-size: 1.3em;
		color: var(--primary-color-4);
		text-shadow: 5px 3px 0.5em #ff4700, 3px 1px 1em #ff9100;
		z-index: 1;
	}

	.parrafo-2{
		background-color: var(--secundary-color-3);
		font-size: min(4vh,3vw);
		display: grid;
		justify-items: center;
		width: 100%;
		height: 75vh;
		grid-template-columns: 1fr;
		grid-template-rows: 10vh 51vh;
		align-items: center;
		padding: 6vh 0 8vh;
	}

	.parrafo-2__texto{
		text-align: justify;
		padding: 0 2vw;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		grid-row: 2/3;
		grid-column: 1/2;
		height: 100%;
	}

	.parrafo-2__titulo{
		text-align: justify;
		display: flex;
		align-items: flex-start;
		grid-row: 1/2;
		grid-column: 1/3;
		height: 100%;
	}

	.parrafo-2__imagen-figure{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.parrafo-2__imagen-logo{
		height: 100%;
	}
	
	.contacto{
		background-color: var(--secundary-color-1);
		display: grid;
		justify-items: center;
		width: 100%;
		height: 85vh;
		padding: 5vh 0 7vh;
	}

	.contacto h2{
		height: 6vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.contacto ul{
		display: flex;
		flex-wrap: wrap;
		width: 68%;
		height: 64vh;
		justify-content: center;
		align-content: space-around;
	}

	.contacto ul i {
		margin: 0 0.5em;
	}

	.contacto ul li{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	    border-color: var(--primary-color-4);
		height: 40%;
		border-radius: 40px;
		border-style: solid;
		padding: 2vw 1vw;
		width: 100%;
		flex-wrap: wrap;
	}

	.contacto ul li a{
		transition-duration: 0.4s;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40%;
		width: 40%;
		padding: 0.8vh 0 0.8vh 5vh;
		border: var(--primary-color-3) solid 3px;
		border-radius: 25px;
		scale: 1;
	}

	.contacto ul li a:hover{
		scale: 1.2;
		color: black;
		font-size: 1.3em;
		background-color: var(--primary-color-3);
	}

	.contacto ul li a h4{
		color: var(--secundary-color-1);
		margin: 0 0 0.5em 0;
	}

	.paquetes{
		background-color: var(--primary-color-1);
		width: 100%;
		height: min(90vh,180vw);
		display: flex;
		flex-wrap: wrap;
		align-content: space-around;
	}

	.paquetes__menu {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
		width: 100%;
		height: 18vh;
	}
	.paquetes__menu label:hover{
		border-radius: 50px;
		background-color: var(--primary-color-3);
	}

	.paquetes__menu label{
		display: flex;
		border-radius: 10px;
		background-color: var(--primary-color-4);
		align-items: center;
		cursor: pointer;
		transition: all 0.5s;
	}

	.paquetes__menu{
		flex-wrap: nowrap;
	}

	.paquetes__menu label{
		height: 50%;
		padding: min(2.3vh,3.5vw);
	}

	.paquetes__descripcion{
		width: 100%;
		height: calc(100% - 18vh);
		position: relative;
		display: grid;
		align-items: center;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.paquetes__descripcion div{
		border: 0.2vw solid var(--secundary-color-1);
		border-radius: 30px;
		background-color: var(--secundary-color-2);
		padding: 4vh 6vh;
		grid-column: 1/2;
		grid-row: 1/2;
		transition: all 400ms ease;
		max-width: 80%;
		transform: scale(0.9);
		opacity: 0;
		visibility: hidden;
	}

	#paquete1, #paquete2, #paquete3{
		display: none;
	}

	#paquete1:checked ~ .tab1{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	#paquete2:checked ~ .tab2{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	#paquete3:checked ~ .tab3{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	.tab1, .tab2, .tab3{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-around;
		height: 80%;
	}
}

@media (orientation: portrait){
	.parrafo-1{
		display: flex;
		flex-wrap: wrap;
		background-color: var(--secundary-color-2);
		font-size: 5vw;
		width: 100%;
		height: 135vw;
	}

	.parrafo-1__imagen-figure{
		display: none;
	}

	.parrafo-1__titulo h1{
		font-size: 1.4em;
	}

	.parrafo-1__titulo{
		height: 22%;
	}

	.parrafo-1__texto{
		height: 78%;
	}

	.parrafo-1__titulo,.parrafo-1__texto{
		display: flex;
		text-align: justify;
		align-items: center;
		padding: 1vh 5vw;
		width: 100%;
	}
	.parrafo-2{
		display: flex;
		align-content: space-around;
		justify-content: space-evenly;
		flex-direction: column;
		background-color: var(--secundary-color-3);
		font-size: 5vw;
		width: 100%;
		height: 140vw;
	}

	.parrafo-2__imagen-figure{
		display: none;
	}

	.parrafo-2__titulo h2{
		font-size: 1.3em;
		color: var(--primary-color-4);
		text-shadow: 5px 3px 0.5em #ff4700, 3px 1px 1em #ff9100;
		z-index: 1;
	}

	.parrafo-2__titulo{
		height: 19%;
	}

	.parrafo-2__texto{
		height: 73%;
	}

	.parrafo-2__titulo,.parrafo-2__texto{
		display: flex;
		text-align: justify;
		align-items: center;
		padding: 1vh 5vw;
		width: 100%;
	}
	
	.contacto{
		background-color: var(--secundary-color-1);
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: min(120vw,85vh);
		padding: 2.5vh 5vw;
	}

	.contacto h2{
		display: flex;
		align-items: center;
		font-size: 7vw;
		color: var(--primary-color-4);
		text-shadow: 
			0 0 0.5em var(--primary-color-3),
			0 0 1em var(--primary-color-3);
		height: 20%;
	}

	.contacto ul{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 80%;
		flex-direction: column;
		justify-content: space-around;
	}

	.contacto ul i {
		margin: 0 0.5em;
	}

	.contacto ul li{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	    border-color: var(--primary-color-4);
		height: 40%;
		border-radius: 5vw;
		border-style: solid;
		padding: 2vw 1vw;
		width: 100%;
		flex-wrap: wrap;
	}

	.contacto ul li a{
		transition-duration: 0.1s;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40%;
		width: 80%;
		padding: 0.8vh 0 0.8vh 5vw;
		border: var(--primary-color-3) solid 3px;
		border-radius: 20vw;
		scale: 1;
	}

	.contacto ul li a:hover{
		scale: 1.2;
		color: black;
		font-size: 1.3em;
		background-color: var(--primary-color-3);
	}

	.contacto ul li a h4{
		color: var(--secundary-color-1);
		margin: 0 0 0.5em 0;
	}

	.paquetes{
		font-size: 3.7vw;
		background-color: var(--primary-color-1);
		width: 100%;
		height: 155vw;
		display: flex;
		flex-wrap: wrap;
		align-content: space-around;
	}

	.paquetes__menu {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
		width: 100%;
		height: 25%;
	}
	.paquetes__menu label:hover{
		border-radius: 8vw;
		background-color: var(--primary-color-3);
	}

	.paquetes__menu label{
		justify-content: center;
		display: flex;
		border-radius: 3vw;
		background-color: var(--primary-color-4);
		align-items: center;
		cursor: pointer;
		transition: all 0.5s;
		height: 35%;
		width: 45%;
		padding: 0 2.5vw;
	}

	.paquetes__descripcion{
		width: 100%;
		height: 75%;
		position: relative;
		display: grid;
		align-items: center;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.paquetes__descripcion div{
		border: 0.2vw solid var(--secundary-color-1);
		border-radius: 3.5vw;
		background-color: var(--secundary-color-2);
		padding: 2vh 2vh;
		grid-column: 1/2;
		grid-row: 1/2;
		transition: all 400ms ease;
		width: 85%;
		transform: scale(0.9);
		opacity: 0;
		visibility: hidden;
	}

	#paquete1, #paquete2, #paquete3{
		display: none;
	}

	#paquete1:checked ~ .tab1{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	#paquete2:checked ~ .tab2{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	#paquete3:checked ~ .tab3{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	.tab1, .tab2, .tab3{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-around;
		height: 80%;
	}

	.footer__figure{
		display: none;
	}

	footer{
		height: 50vh;
		grid-template-rows: 4fr 1fr;
		grid-template-columns: 1fr;
		align-items: center;
	}

	address{

	}
}