@font-face{
	font-family: "codec";
	src: url("../fuentes/GothamBlack.otf");
}

.presentacion{
	background-color: #8b52fef4;
	font-size: min(4.8vh,2.45vw);
	display: grid;
	width: 100%;
	height: 45vh;
	grid-template-columns: 1fr 72vh;
	grid-template-rows: 45vh;
	align-items: center;
}

.presentacion__texto{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-row: 1/2;
	grid-column: 1/2;
	height: 100%;
}

.presentacion__imagen-figure{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.presentacion__imagen{
	grid-row: 1/2;
	grid-column: 2/3;
	height: 100%;
}

.presentacion__imagen-logo{
	height: 90%;
	width: fit-content;
}

@media (orientation: portrait){
	p{
		text-align: center;
	}
	.presentacion{
		font-size: min(5.5vw,2.4vh);
		height: calc(25vh + 56vw);
		grid-template-columns: 100%;
		grid-template-rows: 25vh 56vw;
	}
	.presentacion__imagen{
		grid-row: 2/3;
		grid-column: 1/2;
		height: 100%;
	}
	.presentacion__texto{
		justify-content: center;
		grid-row: 1/2;
		grid-column: 1/2;
	}
}


.video-descriptivo{
	margin: 5vw 0;
	width: 100%;
	height: min(50vh,70vw);
	display: flex;
	justify-content: center;
}

.video-descriptivo__figura{
	background-color: var(--secundary-color-1);
}

video{
	width: 100%;
	height: 100%;
}


.contacto{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
	width: 100%;
	height: max(75vh,35vw);
	margin: min(10vh,10vw) 0;
}

.contacto h2{
	background-color: var(--secundary-color-1);
	padding: 1.5vw 2.2vw;
	height: auto;
	border-radius: 25px;
}

.contacto ul{
	display: grid;
	align-items: center;
	width: 100%;
	height: 90%;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

@media (orientation: portrait){
	.contacto{
		height: 100vh;
	}

	.contacto ul{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.contacto ul li{
	height: 90%;
	width: 90%;
	margin: 2% 5%;
	padding: 3%;
}
}

.contacto ul i {
	margin-left: 1em;
}

.contacto ul li{
		color: var(--primary-color-1);
		display: flex;
		background-color: var(--secundary-color-2);
		flex-wrap: wrap;
		align-content: space-around;
		justify-content: center;
		border: 1vw solid var(--secundary-color-1);
		border-radius: min(8vw,8vh);
	}

@media (orientation: landscape){
	.contacto ul li{
		height: 70%;
		width: 80%;
		margin: 5% 10%;
		padding: 5%;
	}
}

.contacto ul li a{
	color: var(--primary-color-1);
}

.paquetes{
	width: 100%;
	height: min(80vh,150vw);
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.paquetes__menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 10vh;
}

.paquetes__menu label:hover{
	border-radius: 30px;
}

@media (orientation: portrait){
	.paquetes__menu{
		flex-wrap: wrap;
	}
	.paquetes__menu label{
		padding:0.5vh min(1.7vh,3.5vw);
	}
}

@media (orientation: landscape){
	.paquetes__menu{
		flex-wrap: nowrap;
	}
	.paquetes__menu label{
		padding: min(1.7vh,3.5vw);
	}
}

.paquetes__menu label{
	border-radius: 10px;
	background-color: #f2884b;/*--secundary-color-1 x% opacidad*/
	display: inline-block;
	cursor: pointer;
	transition: all 700ms ease;
}

.paquetes__descripcion{
	width: 100%;
	height: calc(100% - 10vh);
	position: relative;
	display: grid;
	align-items: center;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	justify-items: center;
}

.paquetes__descripcion div{
	border: 1vw solid var(--secundary-color-1);
	border-radius: 30px;
	background-color: var(--secundary-color-2);
	padding: 4vh 6vh;
	grid-column: 1/2;
	grid-row: 1/2;
	transition: all 400ms ease;
	max-width: 80%;
	transform: scale(0.9);
	opacity: 0;
	visibility: hidden;
}

#paquete1, #paquete2, #paquete3{
	display: none;
}

#paquete1:checked ~ .tab1{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
#paquete2:checked ~ .tab2{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
#paquete3:checked ~ .tab3{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.tab1, .tab2, .tab3{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	height: 80%;
}