@font-face{
	font-family: "codec";
	src: url("../fuentes/GothamBlack.otf");
}

.presentacion{
	background-color: var(--secundary-color-2);
	font-size: min(4.8vh,2.45vw);
	display: grid;
	width: 100%;
	height: 45vh;
	grid-template-columns: 1fr 72vh;
	grid-template-rows: 45vh;
	align-items: center;
}

.presentacion__texto{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-row: 1/2;
	grid-column: 1/2;
	height: 100%;
}

.presentacion__imagen-figure{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.presentacion__imagen{
	grid-row: 1/2;
	grid-column: 2/3;
	height: 100%;
}

.presentacion__imagen-logo{
	width: 100%;
}

@media (orientation: portrait){
	p{
		text-align: center;
	}
	.presentacion{
		font-size: min(5.5vw,2.4vh);
		height: calc(25vh + 56vw);
		grid-template-columns: 100vw;
		grid-template-rows: 25vh 56vw;
	}
	.presentacion__imagen{
		grid-row: 2/3;
		grid-column: 1/2;
		height: 100%;
	}
	.presentacion__texto{
		justify-content: center;
		grid-row: 1/2;
		grid-column: 1/2;
	}
	.presentacion__imagen-logo{
		height: 100%;
	}
}


.video-descriptivo{
	background-color: var(--primary-color-3);
	width: 100%;
	height: min(40vh,70vw);
	display: flex;
	justify-content: center;
}

.video-descriptivo__figura{
	background-color: var(--secundary-color-1);
}

video{
	width: 100%;
	height: 100%;
}


.contacto{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 100%;
	height: max(75vh,35vw);
	margin: min(10vh,10vw) 0;
}

.contacto h2{
	height: 10%;
}

.contacto ul{
	display: grid;
	align-items: center;
	width: 100%;
	height: 90%;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

@media (orientation: portrait){
	.contacto{
		height: min(80vh,120vw);
	}
}

.contacto ul li{
	height: 70%;
	width: 80%;
	margin: 5% 10%;
	border: 1vw solid var(--primary-color-3);
	border-radius: min(8vw,8vh);
	padding: 5%;
}

.contacto ul li a{
	color: var(--primary-color-2);
}